<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap css 5.3.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Style css -->
    <link rel="stylesheet" href="./css/style.css">
    <!--FontAwsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- VueJs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Importo axios get e pull-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <main class="background">
        <div id="app">
            <!-- COLONNA DI SINISTRA -->
            <div class="left-column">
                <div class="top-row content-padding">
                    <!-- img user -->
                    <div class="d-flex flex-center">
                        <div class="user-image">
                            <img src="./img/0.jpg" alt="" @click="debug()">
                        </div>
                        <!-- nome user -->
                        <div class="ps-2 nome">
                            Paola
                        </div>
                    </div>
                    <!-- Icone a sinistra -->
                    <div>
                        <i class="fa-solid fa-circle-notch pe-3"></i>
                        <i class="fa-solid fa-message pe-3"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- Sezione notifiche alert -->
                <div class="left-notify content-padding d-flex">
                    <div>
                        <i class="fa-solid fa-bell-slash fa-3x"></i>
                    </div>
                    <div class="flex-columns ps-2">
                        <div>
                            Ricevi notifiche messaggi
                        </div>
                        <div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>

                    </div>
                </div>
                <!-- SEARCH BAR UTENTI -->
                <div class="left-searchbar gold">
                    <div class="container-fluid pt-1">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1" @click="userLowerSearch()"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                                aria-label="Username" aria-describedby="basic-addon1" v-model="userSearch">
                        </div>
                    </div>
                </div>
                <!-- SEZIONE CARD UTENTI GENERATI CON VUE JS -->
                <div class="left-user flex-columns">
                    <!-- CARD UTENTE -->
                    <div class="card-utente position-relative p-2 d-flex" v-for="contatto , i in contacts"
                        @click="clickOnContact(contacts[i] , i, contacts)" :class="{ grey: contatto.visible}">
                        <!-- IMMAGINE UTENTE -->
                        <div class="user-image-big">
                            <img :src="contatto.avatar" alt="">
                        </div>
                        <div class="flex-columns ps-2">
                            <!-- Nome utente -->
                            <div class="nome">{{contatto.name}}</div>
                            <div class=" last-msg">{{LastRecivedMsgs[i]}}
                            </div>
                        </div>
                        <!-- POSITION ABSOLUTE PER ORARIO -->
                        <div class="time-msg">
                            {{lastDataStart[i]}}
                        </div>
                    </div>
                </div>
            </div>


            <!-- COLONNA DI DESTRA -->
            <div class="right-column">
                <div class="top-row content-padding right-border">
                    <!-- img right user -->
                    <div class="d-flex flex-center">
                        <div class="user-image">
                            <img :src="contacts[clickedContact].avatar" alt="">
                        </div>
                        <!-- nome right user -->
                        <div class="flex-columns ps-2">
                            <div class=" nome">
                                {{contacts[clickedContact].name}}
                            </div>
                            <div class="last-msg" v-if="!contacts[this.clickedContact].online">Ultimo accesso
                                <span v-if="!contacts[this.clickedContact].today">{{dateSplitted[0]}}</span> <span
                                    v-else="contacts[this.clickedContact].today">Oggi</span> <span
                                    v-if="!contacts[this.clickedContact].today">alle
                                    {{lastDate}}</span><span v-else="!contacts[this.clickedContact].today">alle
                                    {{time}}</span>
                            </div>
                            <div class="last-msg" v-else="!contacts[this.clickedContact].online">ONLINE
                            </div>
                        </div>
                    </div>
                    <!-- Icone a sinistra -->
                    <div>
                        <i class="fa-solid fa-magnifying-glass pe-3"></i>
                        <i class="fa-solid fa-paperclip pe-3"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- COLONNA CHAT INVIO VERDE; RICEVUTA ROSSA -->
                <div class="chat-column">
                    <!-- SEZIONI MESSAGGI MANDATI -->
                    <div class="left-chat-column">
                        <!-- PRIMA V-FOR -->
                        <template v-for="elemento , i in msgUserSelected">
                            <div class="recive position-relative" v-if="elemento.status == 'sent'">{{elemento.message}}
                                <span class="time-bottom">{{dateSplitting(elemento)}}</span>
                            </div>
                    </div>
                    <!-- SEZIONE MESSAGGI RICEVUTI -->
                    <div class="right-chat-column">
                        <div class="send position-relative" v-if="elemento.status == 'received'">
                            {{elemento.message}}<span class="time-bottom">{{dateSplitting(elemento)}}</span>
                        </div>
                        </template>
                    </div>
                </div>
                <!-- BOTTOM MSG BAR -->
                <div class="right-writebar d-flex p-2 container-fluid align-items-center">
                    <i class="fa-regular fa-face-smile fa-2x pe-2"></i>
                    <div class="input-group d-flex ">
                        <input type="text" class="form-control" placeholder="Scrivi un messaggio" aria-label="msg"
                            aria-describedby="basic-addon1" v-model="userMsg" @keyup.enter="sendMsg()">
                    </div>
                    <i class="fa-solid fa-microphone fa-2x ps-2"></i>
                </div>
            </div>
        </div>
    </main>
    <!--script js -->
    <script src="./js/main.js"></script>
    <!-- script BOOTSTRAP 5.3.3 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script> -->
</body>

</html>